* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* navbar */

.navbar img {
  width: 100px; 
}

.nav-link:hover {
  color: #FF9515;
}

.nav-item:hover {
  color: #FF9515;
}

.btn-primary {
  background-color: #ffffff;
  border: none;
}

.btn-primary:hover {
  background-color: #ffffff;
}

/* main */

.contenido {
  min-height: 100vh;
  object-fit: cover;
}

.active-propio {
  color: #00bcd4;
}

.active-propio:hover {
  color: #FF9515;
}

/* carousel */

.cambio-color {
  color: #00bcd4;
}

.color-gris {
  color: #545454;
}

.imagen-fija {
  width: 100px;
  height: 100px;
}

/* galeria */

.container.gallery-container {
  min-height: 100vh;
  padding: 30px 50px;
}

.gallery-container h1 {
  color: #00bcd4;
  text-align: center;
  margin-top: 50px;
}

.gallery-container p.page-description {
  text-align: center;
  margin: 10px auto;
  font-size: 18px;
  color: #999;
}

.tz-gallery {
  padding: 40px;
}

/* Override bootstrap column paddings */
.tz-gallery .row > div {
  padding: 2px;
}

.tz-gallery .lightbox img {
  width: 100%;
  border-radius: 0;
  position: relative;
}

/* footer */

footer {
  width: 100%; /* En lugar de 100vw */
  overflow-x: hidden;
}

.footer-social a {
  color: #00bcd4;
  transition: transform 0.3s ease, color 0.3s ease;
}

.footer-social a:hover {
  color: #FF9515; 
  transform: scale(1.2);
}

.logo-footer img {
  width: 55%;  
}

.color-copy {
  background-color: #545454;
  color: white;
  text-align: center;
}